@charset "utf-8";

@font-face {
    font-family: 'Champagne';
    src: url('cac_champagne.woff') format('woff');
    src: url('cac_champagne.ttf') format('ttf');
    font-family: 'Grunge';
    src: url('1942.woff') format('woff');
    src: url('1942.tff') format('ttf');
    font-family: 'Dobkin';
    src: url('DobkinPlain.woff') format('woff');
    src: url('DobkinPlain.ttf') format('ttf');
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: Justin Aybar
   Date: 9.6.18   
   
   Filename: ph_styles.css

*/
/* Structural Styles */
html {
    background-color: hsl(91, 8%, 56%);
    font-size: .9em;
    text-align: center;
    padding: 10px 0px 0px 10px;
}

body {
    background-color: hsl(51, 31%, 84%);
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino serif;
}

header {
    background-color: black;
}

p {
    font-size: 1.1em;
    text-align: center;
}

body>p {
    font-size: 1.1em;
    text-align: center;
}

address {
    font-style: normal;
    font-size: 0.9em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Navigation Styles */
nav a,
nav a {
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
    padding: top 10px;
    padding-bottom: 10px;
}

nav a,
nav:link {
    color: white;
    text-decoration: none;
    background-color: hsla(0, 0%, 42%, 0.4);
}

nav:hover,
nav:active {
    color: hsla(0, 0%, 100%, 0.7);
    background-color: hsl(0, 0%, 42%, 0.7);
}

/* Section Styles */
section#playbill h1 {
    font-size: 3em;
    font-weight: normal;
    margin: 0px;
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
}

#play1 {
    background-color: hsl(240, 100%, 88%);
}

h1 #play1 {
    font-family: 'Champagne', 'Cursive';
}

h1 #play2 {
    background-color: hsl(25, 88%, 73%);
}

h1 #play2 {
    font-family: Grunge, 'Times New Roman', Times, Serif;
}

h1 #play3 {
    background-color: hsl(0, 100%, 75%);
    font-family: Impact, Charcoal, sans-serif;
}

h1 #play4 {
    background-color: hsl(296, 86%, 86%);
    font-family: Dobkin, cursive;
}

/* Description List Styles */